*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Regular.ttf);
  font-weight: normal;
}@font-face {
  font-family: "Open Sans";
  src: url(fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Light.ttf);
  font-weight: normal;
}

.head{
    color: white;
    background-image: url(img/Layer%201.png);
/*
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
*/
    
    
    background-size: cover;
    min-height: 100vh;  
    height: 100%;
    padding-top: 47px;
    margin-bottom: 10%;
}
.logo{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 25px;
}
.menu__item{
    margin-left: 25px;
    line-height: 55px;
}
.menu__item a{
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px 15px;
}
.menu__item a:hover{
    border: 1px solid #fff;
    border-radius: 20px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1, h2{
    font-family: "Source Sans Pro";
}
h1{
    font-size: 35px;
}
h2{
    font-size: 20px;
}
.head__title{
    padding-top: 14%;
}
.title__main-h1{
    word-spacing: 12px;
    letter-spacing: 7px;
}
.title__h2{
    word-spacing: 4px;
    letter-spacing: 3px;    
}
.title__text{
    padding-top: 2%;
    width: 600px;
    margin:  0 auto;
    text-align: center;
}
.title__center{
    text-align: center;
}
.head__button{
    padding-top: 15%;
    padding-bottom: 5%;
    text-align: center;
}
.title{
    padding-top: 7%;
}
.aboutUs__title{
    margin-bottom: 7%;
}
.aboutUs__text{
    margin-bottom: 7%;
}
.aboutUs__button{
    color: black;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px 15px;
}
.aboutUs__button:hover{
    color: gray;
    text-decoration: none;
    border: 1px solid gray;
}
.title__text-h2{
    padding-top: 2%;
    width: 450px;
    margin:  0 auto;
    text-align: center;
}
.color__grey{
    color: #81868e;
}
.details{
    background-color: #f3f3f3;      
}
.img__item{
    padding: 35px 15px;
}
.ideas__text{
    padding-bottom: 100px;
    padding-top: 15px;
}
.featured__img{
    padding-top: 50px;
}
.future__img-item1{
    background-image: url(img/Future_projects_img1.png);
    background-size: cover;
    height: 300px;
    width: 50%;
}
.future__img-item2{
    background-image: url(img/Future_projects_imgVintage.png);
    background-size: cover;
    height: 300px;
    width: 25%;

}
.future__img-item3{
    background-image: url(img/Future_projects_imgBranding.png);
    background-size: cover;
    height: 300px;
    width: 25%;
}
.featured__footer{
    color: white;
}
.featured__footer-img{
    background-image: url(img/featured__footer.png);
    background-size: cover;
    width: 100%;
    height: 115px;
    padding-top: 50px;
}
.featured__button{
    color: white;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 15px;
}
.featured__button:hover{
    color: grey;
    text-decoration: none;
    border: 1px solid grey;
}
.services__body{
    padding-top: 50px;
}
.services__text{
    padding-top: 20px;
}
.services__img{
    padding: 12px 1px; 
}
.services__circle{
    padding: 80px 20px;
}
.team{
    padding-top: 140px;
}
.team_img{
    background-image: url(img/team.png);
    background-size: cover;
    color: white;
}
.team__title{
    padding-top: 80px;
}
.team__text{
    padding-top: 60px;
}
.name{
    padding-top: 30px;
/*    padding-bottom: 100px;*/
}
.bright__grey{
    color: #b2b3b3;
}
.mac{
    padding-bottom: 100px;
    position: relative;
    top: -40px;
}
.portfolio{
    background-color: #f3f3f3;
    padding-bottom: 100px;
}
.portfolio__menu-item{
    padding: 75px 15px;
}
.portfolio__menu-item a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    
}
.portfolio__menu-item a:hover{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #19bd9a;
}
.gallery__item-lg{
    height: 360px;
    width: 255px;
    background-size: cover;
}
.gallery__item-md{
    height: 300px;
    width: 255px;
    background-size: cover;
}
.gallery__item-sm{
    height: 230px;
    width: 255px;
    background-size: cover;
}
.gallery__item{
    padding-bottom: 10px;   
    position: relative;
}
.gallery__item:hover .gallery__item-body{
    opacity: 1;
/*    cursor: pointer;*/
    visibility: visible;
}
.gallery_whitePackage{
    background: url(img/gallery_whitePackage.png) no-repeat;
}
.gallery__item-body{
    opacity: 0;
}
.gallery__item-body-img{
    display: inline-block;
    padding-top: 23%;
    padding-left: 7px;
    cursor: pointer;
}
.gallery__text-title{
    color: #19bd9a;
    text-align: left;
    padding-top: 30%;
    border-bottom: 2px solid #19bd9a;
    padding-left: 7px;
}
.gallery__text{
    text-align: left;
    padding-top: 20%;
    padding-left: 7px;

}
.gallery__item-whitePackage{
    background-image: url(img/gallery_whitePackage.png);
    background-size: cover;
    height: 340px;
}
/*
.gallery__item-blackBottles{
    background-image: url(img/gallery_blackBottles.png);
    background-size: cover;
    height: 200px;
}
*/
img{
    max-width: 100%;
}
.portfolio__footer{
    background-image: url(img/portfolioFooter.png);
    background-size: cover;
    height: 200px;
    margin-top: 40px;
    width: 100%;
    color: white;
}
.portfolio__footer-text{
    padding-top: 55px;
    text-align: center;
}
.porfolio__button{
    padding-top: 40px;
}
.our__team-body{
    padding-top: 60px;
}
.our__team-sliderButton{
    padding-top: 60px;
    padding-left: 10px;
}
.post{
    font-size: 14px;
    font-family: Source Sans Pro;
    font-style: italic;    
}
.unit{
    text-align: right;
}
.unit__naming{
    border-right: 4px solid #19bd9a;
    padding-right: 50px;
}
.unit__text{
    padding-right: 50px;
    padding-top: 25px;
}
.unit__stat{
    padding-top: 25px;
}
.team__footer{
    background-image: url(img/team__footer.png);
    height: 200px;
    color: white;
}
.our__team-slider{
    padding-bottom: 100px;
}
.team__footer-text{
    padding-top: 60px;
    text-align: center;
}
.testimonials__img{
    padding-top: 100px;
}
.testimonials__text{
    padding-top: 100px;
}
.testimonials__unit{
    color:  #19bd9a;
}
.blog{
    color: white;
}
.blog-bg{
    background-image: url(img/blog.png);
    background-size: cover;
}
.color__green{
    color:  #19bd9a;
}
.margin__zero{
    margin: 0;
}
.blog__title-text{
    width: 450px;
}
.blog__body{
    padding-top: 100px;
}
.blog__body-text{
    padding-top: 55px;
    width: 600px;
}
.blog__button{
    padding-top: 55px;
    padding-bottom: 100px;
    text-decoration: none;
}
.blog__button:hover{
    color: white;
    text-decoration: none;
}
.price{
    background: #f3f3f3;
}
.price__item{
    background: #ffffff;
/*    box-shadow: 1px 1px 5px black;*/
    margin-right: 60px;
    padding-bottom: 100px;
    padding-top: 60px;
}
.price__item-title{
    font-family: Open Sans;
    text-align: center;
    padding: 25px 50px;
    color: white;
    background: #19bd9a;
}
.cost{
    font-size: 42px;
    text-align: center;
    padding-top: 70px;
}
.per__month{
    font-family: Open Sans;
    text-align: center;
    padding-bottom: 110px;
}
.price__button{
    background: #19bd9a;
    padding: 25px 50px;
}
.price__button-decor{
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.price__button-decor:hover{
    color: grey;
    text-decoration: none;
    text-align: center;
}
.price__text-hover{
    padding-top: 35px;
    line-height: 30px;
}
input{
    outline: none;
}
.mail__input{
    width: 360px;
    padding-left: 20px;
    height: 39px;
    margin-top: 60px;
}
.subscribe{
    background: url(img/subscribe.png);
    background-size: cover;
    color: white;
}

.subscribe__button{
    background: #19bd9a;
    padding: 8px 49px;
    width: 150px;
    display: inline-block;
    margin-bottom: 100px;
}
.subscribe__button-decor{
    font-size: 14px;
    text-decoration: none;
    color: white;
}
.subscribe__button-decor:hover{
    text-decoration: none;
    color: gray;
}
.contact__item{
    margin-right: 30px;
    padding-top: 60px;
    margin-bottom: 100px;
}
.contact__title{
    text-align: center;
    font-size: 16px;
}
.contact__body{
    font-size: 13px;
    padding-bottom: 30px;
}
.contact__input{
    width: 250px;
    padding-left: 20px;
    margin-right: 30px;
    margin-bottom: 100px;
}
.contact__coment{
    padding-top: 30px;
    margin: 0 auto;
}
.contact__submit-bg{
    background: #19bd9a;
    
    width: 80%;    
    margin-bottom: 100px;
    text-align: center;
    padding: 20px 0;
    color: white;
}
.contact__submit{
    font-size: 16px;
    text-align: center;
    color: white;
    margin: 0;
}
.contact__submit:hover{
    color: grey;
    cursor: pointer;
}










